/* =========================================
	ABs Custom Style
========================================= */

body {
    padding: 0 !important;
}
body.guest {
	font-family: 'Montserrat', sans-serif;  
}
img {
    max-width: 100%;
}
.showOnMobile {
    display: none !important;
}
body.guest nav.navbar {
    background-color: #ff1616;
}
body.guest.homePage nav.navbar {
    background-color: transparent;
    margin: 0;
    padding: 10px 0 0;
}
.guest .nav > li > a:hover{
	border-radius: 33px;
    background-color: #36dd1a;
}
.guest .nav > li > a{
	color: #fff;
    padding: 16px 24px;
    line-height: 15px;
    margin-top: 2px;
}
.guest .navbar-brand{
	color:#fff;
}
section.topSec {
    background: linear-gradient(135deg, #F77737 0%, #E1306C 100%);
    padding: 150px 0 100px;
    margin: -61px 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.guest .well.signinWell{
	background-color:transparent;
    border:0px;
  	box-shadow:none;
  	padding: 0;
}
body.guest .well {
    background-color: #fff;
}
.guest .well h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    text-shadow: 0 8px 7px #0000001a;
    margin: 0;
}
.guest .well p {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    margin: 25px 0;
    text-shadow: 0 8px 7px #0000001a;
}
.guest .signinWell .form-group {
    display: inline-block;
    position: relative;
    width: 45%;
    float: left;
  	margin: 0;
}
.guest .signinWell .form-group div.frm_icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  	width: 40px;
  	z-index: 1;
}
.guest .signinWell .form-group div.frm_icon::after {
    content: '';
    width: 2px;
    height: 30px;
    background-color: #9eb7eb;
    display: block;
    position: absolute;
    top: -2px;
    right: 0;
}
.guest .signinWell .form-group input{
	height: 50px;
    border-radius: 40px;
    padding: 6px 50px 6px 70px;
    background-color: #fff !important;
    border: 0;
  	position: relative;
    
}
.guest .signinWell .form-group input::placeholder{
	color:#6a92fb;
}
.guest .signinWell .form-group:not(:first-child) {
    margin-left: -30px;
}
.guest .signinWell .form-group:not(:first-child)::before {
    content: '';
    width: 50px;
    height: 50px;
    background-color: #086cfb;
    display: block;
    position: absolute;
    border-radius: 100%;
    left: -5px;
}
.guest .signinWell .form-group:not(:first-child)::after {
    content: '';
    width: 50px;
    height: 50px;
    background-color: #086cfb;
    display: block;
    position: absolute;
    border-radius: 100%;
    right: -5px;
    top: 0;
}
.guest .well.signinWell .btn-primary {
    width: 130px;
    margin-left: -40px;
    position: relative;
    height: 50px;
    border: 0;
    border-radius: 40px;
    padding: 10px 30px;
    background-color: #36dd1a;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
}
.guest .well.signinWell ul {
    padding: 0;
    margin: 10px 0;
}
.guest .well.signinWell ul li {
    list-style: none;
    display: table-cell;
    width: 1%;
}
.guest .well.signinWell ul li a.forgot-password,
.guest .well.signinWell ul li label {
    position: unset;
    color: #ffffff;
    font-weight: 500;
}
.guest .well.signinWell ul li:last-child {
    text-align: right;
    padding-right: 10px;
}
.guest .not_have_acc {
    color: #fff;
    font-weight: 500;
}
.guest .not_have_acc a{
	color:#fff;
}
section.topSec .col-md-5 img {
    animation: float 5s infinite ease-in-out;
}


.guest .sec1 {
    padding: 50px 0px;
    background-color: #f3f4f9;
    background-image: url('https://imgur.com/7CLR3Ko.png');
    background-repeat: no-repeat;
    background-position: 110% 40px;
}
.guest .sec1_title{
	position:relative;
  	margin-bottom:40px;
  	padding-bottom:10px;
}
 .sec1_title p{
	font-size: 20px;
    color: #0861fa;
    font-weight: bold;
  	margin: 0;
}
.sec1_title h1 {
    color: #000;
    font-size: 60px;
    font-weight: bold;
    margin: 0 0 25px;
    line-height: 60px;
    text-shadow: 0 8px 7px #0000001a;
}
.sec1_title::before{
	content: '';
    width: 150px;
    height: 8px;
    background-color: #0861fa;
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0;
    border-radius: 20px;
}

.guest .sec1_title::after{
	content: '';
    width: 35px;
    height: 8px;
    background-color: #0861fa;
    display: block;
        left: 153px;

    bottom: 0;
    position: absolute;
    border-radius: 20px;
}

.guest .feature{
	text-align: center;
    color: #fff;
    padding: 17px 5px;
    border-radius: 14px;
}
.guest .feature h4{
  font-size:25px;
  font-weight:bold;
  
}
.guest .feature p{
	font-size:14px;
  	color:#fff;
  	padding: 0 20px;
	margin: 0;
}
.guest .feature1{
	background-color:#0859fa;
}
.guest .feature2{
	background-color:#36dd1a;
  	margin-top:40px;
}
.guest .feature3{
	background-color:#085cfa;
  	margin-top:80px;
}
img.mainImg {
    animation: float 5s infinite ease-in-out;
}


section.sec2 {
    padding: 50px 0px 70px;
    background-color: #f3f4f9;
    background-image: url('https://imgur.com/7CLR3Ko.png');
    background-repeat: no-repeat;
    background-position: -13% 40px;
}
section.sec2 .sec1_title ~ p {
    font-size: 16px;
    color: #000;
}
section.sec2 a {
    font-size: 15px;
    font-weight: 600;
    background-color: #36dd1a;
    padding: 14px 40px;
    display: inline-block;
    border-radius: 40px;
    margin: 20px 0 0;
    color: #fff;
    box-shadow: 0 18px 20px 0 #0000004d;
  	transition: .2s;
	text-decoration: none;
}
section.sec2 a:hover {
    box-shadow: none;
}


footer {
    background: linear-gradient(135deg, #F77737 0%, #E1306C 100%);
	background-size: 100% 100%;
	background-repeat: no-repeat;
  	text-align: center;
	padding: 70px 0 0;
  	position: relative;
}
footer a.ftrLogo {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}
footer ul.footerNav {
    padding: 0;
    margin: 40px 0;
    list-style: none;
}
footer ul.footerNav li {
    display: inline-block;
    margin: 0 20px;
}
footer ul.footerNav li a {
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
}
footer h2 {
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
}
footer ul.socialLinks {
    padding: 0;
    margin: 30px 0 40px;
    list-style: none;
}
footer ul.socialLinks li {
    display: inline-block;
    margin: 0 15px;
}
footer form {
    width: 30%;
    margin: 30px auto 50px;
}
footer form input {
    height: 44px !important;
    border-radius: 10px !important;
    border: 0 !important;
}
footer form input::placeholder {
    color: #000000 !important;
    font-weight: 700;
    font-size: 12px;
}
footer form .btn {
    border-radius: 10px !important;
    border: 0;
    height: 44px;
    margin-left: 5px !important;
    background-color: #ff4b36;
    color: #ffffff;
}
footer form .btn i {
    transform: rotate(-40deg);
    font-size: 25px;
    margin-left: 3px;
}
footer .copyrightStrip p {
	font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    margin: 20px 0;
}
@-webkit-keyframes float {
	0%,50% {
		-webkit-transform:translateY(0);
		-webkit-animation-timing-function:cubic-bezier(.2,.25,.55,1)
	}
	25% {
		-webkit-transform:translateY(-7px);
		-webkit-animation-timing-function:cubic-bezier(.45,0,.8,.75)
	}
	75% {
		-webkit-transform:translateY(7px);
		-webkit-animation-timing-function:cubic-bezier(.45,0,.8,.75)
	}
	to {
		-webkit-transform:translateY(0)
	}
}
@-moz-keyframes float {
	0%,50% {
		-moz-transform:translateY(0);
		-moz-animation-timing-function:cubic-bezier(.2,.25,.55,1)
	}
	25% {
		-moz-transform:translateY(-7px);
		-moz-animation-timing-function:cubic-bezier(.45,0,.8,.75)
	}
	75% {
		-moz-transform:translateY(7px);
		-moz-animation-timing-function:cubic-bezier(.45,0,.8,.75)
	}
	to {
		-moz-transform:translateY(0)
	}
}
@-o-keyframes float {
	0%,50% {
		-o-transform:translateY(0);
		-o-animation-timing-function:cubic-bezier(.2,.25,.55,1)
	}
	25% {
		-o-transform:translateY(-7px);
		-o-animation-timing-function:cubic-bezier(.45,0,.8,.75)
	}
	75% {
		-o-transform:translateY(7px);
		-o-animation-timing-function:cubic-bezier(.45,0,.8,.75)
	}
	to {
		-o-transform:translateY(0)
	}
}
@keyframes float {
	0%,50% {
		transform:translateY(0);
		animation-timing-function:cubic-bezier(.2,.25,.55,1)
	}
	25% {
		transform:translateY(-7px);
		animation-timing-function:cubic-bezier(.45,0,.8,.75)
	}
	75% {
		transform:translateY(7px);
		animation-timing-function:cubic-bezier(.45,0,.8,.75)
	}
	to {
		transform:translateY(0)
	}
}


/* DASHBOARD */
.align-right {
    text-align: right;
}
body.dashboard {
	font-family: 'Poppins', sans-serif;  
}
body.dashboard .navbar-default {
    background-color: #fff;
    border: 0;
    margin: 0;
}
body.dashboard .navbar-default div.navbar-header {
    margin-top: 10px;
}
body.dashboard .navbar-default div.navbar-header a.navbar-brand {
    margin-right: 30px;
}
li.priceBagde .badge {
    background-color: #f9f8ff;
    color: #000000;
    font-weight: normal;
    font-size: 14px;
    border-radius: 40px;
    padding: 3px 25px 3px 7px;
}
li.priceBagde .badge img {
    margin-right: 25px;
}
body.dashboard a.userBtn {
    background-color: #f9f8ff;
    border-radius: 40px;
    padding: 3px 20px 3px 7px;
    margin: 15px 15px 0 0;
  	min-width: 140px;
    position: relative;
}
body.dashboard a.userBtn:hover,
body.dashboard a.userBtn:focus {
    background-color: #f9f8ff;
}
body.dashboard a.userBtn .caret {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}
.sidebar-nav ul#myTab {
    padding: 0;
}
.sidebar-nav li a::after {
    content: '';
    width: 0;
    height: 0;
    border-bottom: 15px solid #d6d6d6;
    border-left: 15px solid transparent;
    position: absolute;
    right: 15px;
    bottom: 15px;
  	transition: all .2s ease;
}
.sidebar-nav li a:hover::after,
.sidebar-nav li.active a:hover::after,
.sidebar-nav li.active a::after {
  	transform: scale(0);	
}

#page-wrapper div.contentWrapper {
    padding-top: 81px;
}
div.pageInfo {
    background-color: #ffffff;
    padding: 10px 15px;
    border: 1px solid #f1f1f1;
    margin-bottom: 15px;
}
div.pageInfo h4 {
    margin: 0;
    color: #2d2d2d;
    font-weight: 600;
    font-size: 16px;
  	display: inline-block;
}
div.userInfoRow {
    padding: 30px 15px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #f1f1f1;
  	margin-bottom: 15px;
}
div.userInfoRow .infoBox {
    background-image: url('https://imgur.com/ZyU1MUj.png');
    background-size: 100% 100%;
    height: 242px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
div.userInfoRow .infoBox.blu {
  background-image: url(https://imgur.com/Oq3vNUr.png);
}
div.userInfoRow .infoBox.prpl {
  background-image: url(https://imgur.com/rNFJzXG.png);
}
div.userInfoRow .infoBox.pnk {
  background-image: url(https://imgur.com/K0U29YP.png);
}
div.userInfoRow .infoBox span .media-object {
    margin: auto;
}
div.userInfoRow .infoBox span {
    padding-left: 10px;
}
div.userInfoRow .infoBox h4 {
    font-size: 30px;
    margin: 5px 0 0;
    font-weight: 400;
}
div.userInfoRow .infoBox p {
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 0 10px;
}
body.dashboard .well {
    border-radius: 0;
    box-shadow: none;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    padding: 20px 15px;
}
.row.sameheightWellRow .well .latestNews,
.row.sameheightWellRow .well .table-responsive {
    max-height: 500px;
  	position: relative;
    min-height: 500px;
}
div.wellHead {
    border-bottom: 1px solid #f1f4fd;
	padding: 0 0 20px;
}
div.wellHead h4 {
    font-size: 16px;
    font-weight: 600;
    color: #2d2d2d;
    margin: 0;
}
table.table th {
    border-top: 1px solid #f1f4fd !important;
    border-bottom: 1px solid #f1f4fd !important;
    color: #2d2d2d;
    font-weight: 500;
  	width: 1%;
  	padding: 12px 8px !important;
}
table.table td {
    color: #9b9b9b;
    vertical-align: middle !important;
    border-bottom: 1px solid #f1f4fd;
  	padding: 12px 8px !important;
}
table.table td .modalBtn {
    color: #9b9b9b;
    text-decoration: none;
    box-shadow: 0 0 2px 0 #0003;
    border-color: transparent;
    background-color: #edecef;
    border: 0;
    width: 50px;
    font-size: 15px;
}
table.table td .badge {
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 400;
    min-width: 60px;
  	height: auto;
	border-radius: 4px;
}
span.In.progress {
    background-color: #716aca;
}
span.Pending {
    background-color: #ffbd32;
}
span.Processing {
    background-color: #11cdef;
}
span.Completed {
    background-color: #20c3cc;
}
span.Canceled {
    background-color: #f5365c;
}
span.Closed {
    background-color: #ee3e54;
}
table.table.bluHeaded th {
    color: #0877fc;
}
div.modal table th {
    text-transform: uppercase;
    font-size: 14px;
    width: 40%;
  	border-right: 1px solid #f1f4fd;
}
div.modal table td {
    border-top: 1px solid #f1f4fd !important;
    border-bottom: 1px solid #f1f4fd;
  	color: #2d2d2d;
}
div.modal table td .input-group .form-control {
    height: auto;
}
div.modal table td .input-group .btn {
    color: #0877fc;
    border: 0;
    box-shadow: 0 0 2px 0 #0003;
}


div.latestNews ul {
    padding: 0;
    margin: 0;
}
div.latestNews ul li {
    display: table;
    padding: 12px 0;
    border-bottom: 1px solid #f1f4fd;
}
div.latestNews ul li div {
    display: table-cell;
    vertical-align: middle;
  	padding: 0 5px;
}
div.latestNews ul li div.newsType {
    width: 40px;
    text-align: center;
}
div.latestNews ul li:nth-child(2n+1) i {
    color: #7c59e9;
}
div.latestNews ul li:nth-child(2n+2) i {
    color: #fbb903;
}
div.latestNews ul li:nth-child(2n+3) i {
    color: #4da6f8;
}
div.latestNews ul li:nth-child(2n+4) i {
    color: #ed506d;
}
div.latestNews ul li i {
    font-size: 20px;
}
div.latestNews ul li div.news p {
    margin: 0;
    color: #9b9b9b;
}
div.latestNews ul li div.dateTime {
    min-width: 70px;
    text-align: right;
}
div.latestNews ul li div.dateTime p {
    color: #8a8a8a;
    font-size: 12px;
    margin: 0;
}
div.pageInfo ul.nav-pills {
    float: right;
    margin: -2px 0 0;
}
div.pageInfo ul.nav-pills li {
    margin-left: 15px;
}
div.pageInfo ul.nav-pills a {
    padding: 0 0 0 17px;
    background-color: transparent !important;
    color: #2d2d2d !important;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 16px;
    position: relative;
}
div.pageInfo ul.nav-pills a::before {
    content: '';
    height: 15px;
    width: 2px;
    display: block;
    position: absolute;
    background-color: #2d2d2d;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
div.pageInfo ul.nav-pills li:first-child a::before{
	display: none;
}
div.pageInfo ul.nav-pills a::after {
    content: '';
    width: 50%;
    height: 2px;
    display: block;
    background-color: #0877fc;
    left: 20px;
    right: 0;
    margin: auto;
    position: absolute;
    transform: translateY(-10px) scale(0);
  	transition: .2s ease-in;
}
div.pageInfo ul.nav-pills a:hover,
div.pageInfo ul.nav-pills li.active a:hover,
div.pageInfo ul.nav-pills li.active a{
	color: #0877fc !important;
}
div.pageInfo ul.nav-pills a:hover::after,
div.pageInfo ul.nav-pills li.active a:hover::after,
div.pageInfo ul.nav-pills li.active a::after{
	transform: translateY(8px) scale(1);
}

div#newOrder.tab-pane {
    min-height: 85vh;
}
div.row.Spilitedat3 div.form-group {
    width: 33.33%;
    float: left;
    padding: 0 5px;
}
body.dashboard label {
    font-size: 12px;
    font-weight: 600;
    color: #2d2d2d;
}
body.dashboard .form-control {
    height: 50px;
    border-radius: 10px;
    border-color: #f1f1f1;
    box-shadow: none;
    color: #2d2d2d;
}
select.form-control {
    -webkit-appearance: none;
    background-image: url('//i.imgur.com/Kr4nZfI.png');
    background-repeat: no-repeat;
    background-position: 96% center;
    padding-right: 30px;
}
body.dashboard #service_description div.panel-body,
body.dashboard textarea {
    border-radius: 10px;
    border-color: #f1f1f1;
    box-shadow: none;
    color: #2d2d2d;
  	height: auto !important;
}
body.dashboard .btn-primary {
    width: 32.37%;
    height: 50px;
    border: 0;
    border-radius: 10px;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 18px;
    background: #ff1616;
    background: -moz-linear-gradient(-45deg, #ff1616 0%, #ff283e 100%);
    background: -webkit-linear-gradient(-45deg, #ff1616 0%,#ff283e 100%);
    background: linear-gradient(135deg, #ff1616 0%,#ff283e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1616', endColorstr='#ff283e',GradientType=1 );
    float: right;
}

table.table.bluHeaded th {
    color: #0877fc;
}
table.table.bluHeaded td[colspan="6"] {
    color: #2d2d2d;
}
table.table.bluHeaded td .modalBtn {
    background-color: transparent;
    color: #0877fc;
  	width: auto;
    text-transform: uppercase;
    font-size: 12px;
}
table.table.bluHeaded td .modalBtn:hover {
    background: #ff1616;
    background: -moz-linear-gradient(-45deg, #ff1616 0%, #ff283e 100%);
    background: -webkit-linear-gradient(-45deg, #ff1616 0%,#ff283e 100%);
    background: linear-gradient(135deg, #ff1616 0%,#ff283e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1616', endColorstr='#ff283e',GradientType=1 );
    color: #fff;
}
.service-description div.modal {
    text-align: center;
    color: #2d2d2d;
}
.row.fullHeightPage {
    min-height: 85vh;
}

div.faqTabs .panel {
    border: 1px solid #dedbe8;
    border-radius: 10px;
    margin: 0 0 10px;
  	text-align: left;
}
div.faqTabs .panel a {
    border-bottom: 1px dashed #6647ca;
    display: block;
    position: relative;
    padding-left: 50px;
  	text-decoration: none;
}
div.faqTabs .panel a::before {
    content: '_';
    position: absolute;
    width: 40px;
    height: 40px;
    display: block;
    border: 3px solid #0877fc;
    border-radius: 30px;
    text-align: center;
    line-height: 0;
    font-size: 41px;
    left: 10px;
    top: 10px;
    color: #0877fc;
}
div.faqTabs .panel a h4 {
    color: #2d2d2d;
    font-size: 14px;
    font-weight: 600;
}
div.faqTabs .panel a.collapsed::before {
    content: '+';
    line-height: 35px;
}
div.faqTabs .panel a.collapsed {
    border: 0;
}

able.table.spreadedTable th:last-child {
    text-align: right;
}
table.table.spreadedTable th {
    border-bottom: 1px solid #f1f4fd !important;
  	width: 50% !important;
}
.table-bordered > tbody > tr > td {
    border: 1px solid #f1f4fd !important;
}
table.table tbody td.purple {
    color: #6341d0;
    font-weight: 600;
}
table.table tbody td.red {
    color: #ee3e54;
    font-weight: 500;
}
table.table tbody td a.exampleCode {
    width: auto;
    padding: 3px 30px;
    height: auto;
    font-size: 14px;
    font-weight: 500;
}
body.dashboard .well .m-t-md {
    font-size: 14px;
    text-transform: uppercase;
    color: #2d2d2d;
}
div.form-group.fullWidth {
    width: 100%;
}
div.form-group.fullWidth #service_type {
    width: 100%;
    background-position: 98% center;
}
pre {
    background-color: #333547 !important;
    border: 0 !important;
    border-radius: 10px !important;
    color: #fff !important;
}

body.dashboard .well.tableWell .searchBar .btn-default {
    height: 46px;
    font-size: 20px;
    color: #fff;
    border: 0;
    border-radius: 0 10px 10px 0;
    width: 60px;
  	background: #ff1616;
    background: -moz-linear-gradient(-45deg, #ff1616 0%, #ff283e 100%);
    background: -webkit-linear-gradient(-45deg, #ff1616 0%,#ff283e 100%);
    background: linear-gradient(135deg, #ff1616 0%,#ff283e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1616', endColorstr='#ff283e',GradientType=1 );
}

div.ticket-message {
    border: 1px solid #1e6bfa;
    border-radius: 0 10px 10px 10px !important;
    color: #353535;
    box-shadow: 0 6px 11px 0 #0000001a;
}
.ticket-message-right .ticket-message {
    background-color: #f5fbfe;
    border-radius: 10px 0 10px 10px !important;
}
.ticket-message-right {
    text-align: right;
}
.row.typingAreaRow {
    margin-top: 150px;
}
.ticket-message-block .icon img {
    width: 33px;
}

div.card {
    border: 1px solid #486db1;
    margin-bottom: 10px;
}
div.card .cardHeAd {
    background-color: #0889fc;
    color: #ffffff;
    padding: 13px 15px;
}
div.card .cardHeAd h4 {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}
div.card .cardBody {
    padding: 13px 15px;
}
div.card .cardBody ul {
    padding: 0 0 0 15px;
    margin: 0;
}
div.card .cardBody ul li {
    color: #085bfa;
    font-size: 18px;
}
div.card .cardBody ul li span {
    color: #353535;
    font-size: 14px;
}

div.reservedStripe {
    text-align: center;
    background-color: #fff;
    border-top: 1px solid #f1f1f1;
    padding: 15px 0;
}
div.reservedStripe p {
    margin: 0;
}

/* sidebar */
#wrapper.toggled {
    padding-left: 0;
}
#wrapper.toggled #page-wrapper {
    padding: 0 0 0 160px;

}
div.tooltip {
    width: 110px;
    text-indent: 0;
}
#wrapper {
    overflow-y: hidden;
    background-repeat: no-repeat;
    background-position: 97% 97%;
    background-size: 8%;
    background-attachment: fixed;
    min-height: 100vh;
    overflow-y: hidden;
    background-repeat: no-repeat;
    background-position: 97% 97%, 99% 99%, 85% 10%, 18% 80%;
    background-size: 10%, 3%, 7%, 15%;
    background-attachment: fixed;
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}
#wrapper.toggled #sidebar-wrapper {
    width: 160px;
    left: 160px;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  	margin-left: -160px;
}
#sidebar-wrapper {
    top: 0;
    left: 0px;
    width: 60px;
    color: white;
    position: fixed;
    height: 100%;
  	background-color: #313740;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-left: 0px;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  	z-index: 999;
}
.side-back {
    height: 100%;
  	background-color: #fff;
}
#wrapper.toggled .sidebar-nav {
  	top: 66px;
}
.sidebar-nav {
    position: absolute;
    top: 100px;
    margin: 0;
    padding: 0;
        padding-top: 0px;
    width: 100%;
    list-style: none;
  	z-index: 1;
  	height: 100%;
	overflow-y: auto;
}
.sidebar-nav li.price {
    margin-bottom: 30px;
}
.sidebar-nav li {
    line-height: 20px;
}
.sidebar-nav li a:hover, .sidebar-nav li.active a:hover, .sidebar-nav li.active a {
    color: #ffffff;
    text-decoration: none;
    box-shadow: 0 0 2px 0 #0003;
    border-color: transparent;
    background: #ff1616;
    background: -moz-linear-gradient(-45deg, #ff1616 0%, #ff283e 100%);
    background: -webkit-linear-gradient(-45deg, #ff1616 0%,#ff283e 100%);
    background: linear-gradient(135deg, #ff1616 0%,#ff283e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1616', endColorstr='#ff283e',GradientType=1 );
}
.sidebar-nav li a {
    color: #2d2d2d;
    display: block;
    text-decoration: none;
    font-weight: 300;
    position: relative;
    font-size: 12px !important;
  	padding: 10px 0;
  	text-align: center;
  	border-bottom: 1px solid #f1f1f1;
  	text-transform: uppercase;
}
#wrapper.toggled .sidebar-nav li a {
	padding: 20px 0;
}
#page-wrapper {
    padding: 90px 40px 45px;
    width: 100%;
    min-height: 100vh;
}
.sidebar-nav li a img {
    width: 40px;
  	filter: brightness(15%);
}
.sidebar-nav li a:hover img,
.sidebar-nav li.active a:hover img,
.sidebar-nav li.active a img {
    filter: brightness(100%);
}
.navbar.navbar-inverse {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    min-height: initial;
}
#menu-toggle {
    position: relative;
    width: 45px;
    display: inline-block;
    border: 1px solid #0865fb;
    padding: 8px 5px;
    height: 35px;
}
#menu-toggle .icon-bar {
    display: block;
    letter-spacing: 0;
    width: 20px;
    height: 3px;
    position: absolute;
    top: 9px;
    right: 0;
    background-color: #0865fb;
    left: 0;
    margin: auto;
}
#menu-toggle .icon-bar:nth-child(3) {
    top: 15.5px;
}
#menu-toggle .icon-bar:last-child {
    top: 22px;
}
#page-wrapper {
    padding: 0 0 0 60px;
    width: 100%;
    min-height: 100vh;
  	z-index: 1;
  	background-color: #f9f8ff;
  	-webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.sideBarLogo {
    overflow: hidden;
  	position: relative;
}
.sideBarLogo a.navbar-brand {
    display: block;
    height: auto;
    width: 100%;
    text-align: center;
  	margin: 0 !important;
}
#wrapper .sideBarLogo img {
    margin: 40px auto 0;
}
#wrapper.toggled .sideBarLogo img {
    margin: 40px auto 0;
  	width: auto;
}
#wrapper #sidebar-wrapper span.menu-title {
    display: none;
}
#wrapper.toggled #sidebar-wrapper span.menu-title {
    display: block;
}
.sidebar-nav li a i {
    font-size: 28px;
    width: 40px;
}
#wrapper .full-logo {
    display: none;
}
#wrapper.toggled .full-logo {
    display: block;
}
#wrapper.toggled .red-logo {
    display: none;
}
.sidebar-nav .badge {
    width: auto;
    text-indent: initial;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50px;
    padding: 3px 5px;
    line-height: 10px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
/* sidebar */



/* RESPONSIVE */

@media (max-width: 1199px) {

  section.topSec .col-md-7 {
      width: 65%;
  }
  section.topSec .col-md-5 {
      width: 35%;
  }
  
  #menu-toggle {
      top: 5px;
  }
  #menu-toggle.showOnMobile {
      display: inline-block !important;
  }
  #wrapper.toggled #page-wrapper {
      padding: 0 0 0 60px;
  }
  #wrapper.toggled #sidebar-wrapper {
      box-shadow: 0 0 10px 2px #0003;
  }
  
  .sidebar-nav li a::after {
      border-bottom: 10px solid #d6d6d6;
      border-left: 10px solid transparent;
      right: 5px;
      bottom: 5px;
  }
  
  div.userInfoRow .infoBox {
      height: 260px;
  }
  
  
  
}


@media (max-width: 991px) {

  section.topSec {
      text-align: center;
  }
  section.topSec .col-md-7, section.topSec .col-md-5 {
      width: 100%;
  }
  .guest .well h1 {
      font-size: 50px;
  }
  .guest .well p {
      margin: 15px 0 20px;
  }
  .guest .well.signinWell ul li:last-child {
      text-align: center;
  }
  .guest .not_have_acc {
      float: none !important;
      display: block;
  }
  section.topSec .col-md-5 img {
      display: block;
      margin: auto;
  }
  .guest .sec1 .col-md-6 {
      width: 50%;
      float: left;
  }
  .sec1_title h1 {
      font-size: 45px;
      line-height: 50px;
  }
  .guest .sec1 .col-md-4 {
    	width: 33.33%;
    	float: left;
    	padding: 0 5px;
  }
  .guest .sec1 .col-md-4:first-child {
      padding-left: 10px;
  }
  .guest .sec1 .col-md-4:last-child {
      padding-right: 10px;
  }
  .guest .feature img {
      width: 50px;
  }
  .guest .feature h4 {
      font-size: 16px;
  }
  img.mainImg {
      margin-top: 100px;
  }
  
  div.userInfoRow .infoBox {
      height: 200px;
  }
  div.userInfoRow .infoBox span .media-object {
      max-width: 50px;
  }
  div.userInfoRow .infoBox h4 {
      font-size: 25px;
      margin: 0px 0 0;
  }
  div.userInfoRow .infoBox p {
      font-size: 12px;
      margin: 0 auto 10px;
      max-width: 80px;
  }
  
  div.pageInfo ul.nav-pills {
      float: none;
      margin: 20px 0 0;
  }
  div.pageInfo ul.nav-pills li {
      margin: 0 6px 0;
      float: none;
      display: inline-block;
  }
  div.pageInfo ul.nav-pills a {
      padding: 0 7px 0 7px;
      font-size: 14px;
      display: block;
  }
  div.pageInfo ul.nav-pills a::before {
      left: -9px;
  }
  div.pageInfo ul.nav-pills a::after {
      left: 0;
  }
  
  
}


@media (max-width: 767px) {

  .navbar-toggle {
      border: 1px solid #fff !important;
  }
  .navbar-toggle .icon-bar {
      background-color: #fff;
  }
  body.guest.homePage nav.navbar {
      background: linear-gradient(135deg, #f9525d 0%, #E1306C 100%);
      
      background-size: cover;
  }
  section.topSec {
      padding: 120px 0 50px;
  }
  .guest .well h1 {
      font-size: 40px;
  }
  .guest .well p {
      font-size: 20px;
  }
  .guest .signinWell .form-group {
      width: 50%;
      float: none;
      margin: 0 0 10px;
  }
  .guest .signinWell .form-group:not(:first-child)::after {
      opacity: 0;
  }
  .guest .well .btn-primary {
      margin-left: 0;
  }
  .guest .sec1 {
  	  padding: 50px 0px 0;
      background-position: 140% 400px;
  }
  .guest .sec1 .col-md-6 {
      width: 100%;
      float: none;
  }
  img.mainImg {
      margin-top: 0;
  }
  .sec1_title p {
      font-size: 18px;
  }
  .sec1_title h1 {
      font-size: 35px;
      line-height: 40px;
      margin: 0 0 15px;
  }
  section.sec2 {
      padding: 50px 0px 50px;
      background-position: -43% 400px;
  }
  .guest .sec1_title {
      margin-bottom: 30px;
  }
  footer form {
      width: 60%;
      margin: 30px auto 50px;
  }
  
  
  .showOnMobile {
      display: initial !important;
  }
  div.userInfoRow .col-sm-3 {
      width: 50%;
      float: left;
  }
  
  div.row.Spilitedat3 div.form-group {
      width: 50%;
  }
  body.dashboard .btn-primary {
      width: 48.37%;
  }
  
  div.pageInfo ul.nav-pills {
      text-align: center;
      margin: 10px 0 0;
  }
  div.pageInfo ul.nav-pills li {
      margin: 4px 6px 4px;
  }
  
  
  
  
  
}


@media (max-width: 550px) {
	
  .guest .nav > li > a {
      padding: 12px 15px;
  }
  section.topSec {
      padding: 100px 0 40px;
  }
  .guest .well h1 {
      font-size: 25px;
  }
  .guest .well p {
      font-size: 16px;
      margin: 5px 0 10px;
  }
  .guest .signinWell .form-group {
      width: 100%;
      margin: 0 0 10px;
  }
  .guest .signinWell .form-group input {
      height: 42px;
      padding: 6px 20px 6px 60px;
  }
  .guest .signinWell .form-group:not(:first-child) {
      margin-left: 0;
  }
  .guest .form-group div.frm_icon {
      width: 30px;
      text-align: left;
  }
  .guest .form-group div.frm_icon img {
      max-width: 20px;
  }
  .guest .form-group:not(:first-child)::before {
      opacity: 0;
  }
  .guest .well.signinWell .btn-primary {
      display: block;
      width: 100%;
      height: 42px;
      font-size: 14px;
      margin-left: 0;
  }
  .guest .signinWell .form-group div.frm_icon::after {
      right: 10px;
  }
  section.topSec .col-md-5 img {
      max-width: 250px;
  }
  .guest .sec1 {
      padding: 40px 0px 0;
      background-position: 190% 230px;
  }
  img.mainImg {
      max-width: 250px;
      margin: auto;
      display: block;
  }
  .sec1_title p {
      font-size: 16px;
  }
  .sec1_title h1 {
      font-size: 22px;
      line-height: 30px;
      margin: 0 0 5px;
  }
  .guest .sec1_title {
      margin-bottom: 15px;
  }
  .guest .feature p {
      padding: 0;
  }
  section.sec2 .sec1_title ~ p {
      font-size: 14px;
      margin-bottom: 5px;
  }
  section.sec2 {
      padding: 40px 0;
      background-position: -100% 300px;
  }
  footer {
      padding: 40px 0 0;
  }
  footer a.ftrLogo {
      font-size: 20px;
  }
  footer ul.footerNav {
      margin: 10px 0 30px;
  }
  footer ul.footerNav li {
      margin: 0 5px;
  }
  footer ul.footerNav li a {
      font-size: 14px;
      font-weight: 500;
  }
  footer h2 {
      font-size: 18px;
  }
  footer ul.socialLinks {
      margin: 15px 0 30px;
  }
  footer ul.socialLinks li {
      margin: 0 10px;
  }
  footer form {
      width: 90%;
      margin: 15px auto 20px;
  }
  footer .copyrightStrip p {
      font-size: 14px;
  }  
  
  #wrapper.toggled #sidebar-wrapper {
      width: 120px;
      left: 120px;
      margin-left: -120px;
  }
  #wrapper.toggled .sidebar-nav li a {
      padding: 10px 0;
  }
  .sidebar-nav li a img {
      width: 30px;
  }
  
  div.pageInfo h4 {
      font-size: 14px;
  }
  div.userInfoRow {
      padding: 15px 10px;
  }
  div.userInfoRow .col-sm-3 {
      width: 80%;
      float: none;
      margin: auto;
  }
  div.userInfoRow .infoBox span .media-object {
      max-width: 40px;
  }
  div.userInfoRow .infoBox h4 {
      font-size: 16px;
      font-weight: 600;
  }
  div.wellHead h4 {
      font-size: 14px;
  }
  table.table th {
      font-size: 12px;
  }
  table.table td {
      padding: 8px 8px !important;
  }
  .row.sameheightWellRow .well .latestNews,
  .row.sameheightWellRow .well .table-responsive {
      min-height: auto;
  }
 
  div.latestNews ul li div.newsType {
      width: 30px;
  }
  div.latestNews ul li i {
      font-size: 14px;
  }
  
  div.row.Spilitedat3 div.form-group {
      width: 100%;
      float: none;
      padding: 0;
  }
  body.dashboard .form-control {
      height: 40px;
  }
  body.dashboard .btn-primary {
      width: 100%;
      height: 40px;
      float: none;
      font-size: 14px;
  }
  
  div.reservedStripe {
      padding: 10px 0;
  }
  div.reservedStripe p {
      font-size: 12px;
  }
  
  div.pageInfo ul.nav-pills a {
      font-weight: 500;
  }
  
  div.faqTabs .panel a {
      padding-left: 35px;
  }
  div.faqTabs .panel a::before {
      width: 30px;
      height: 30px;
      border: 2px solid #0877fc;
      line-height: 2px;
      font-size: 30px;
  }
  div.faqTabs .panel a.collapsed::before {
      content: '+';
      line-height: 27px;
  }
  div.faqTabs .panel a h4 {
      margin: 0;
      font-weight: 500;
  }
  
  body.dashboard .well.tableWell .searchBar .btn-default {
      height: 40px;
      font-size: 18px;
      width: 50px;
  }
  
  
}
